

html, body, .wrapper {
    height: 100%;
    width: 100%;
}

body {
    background-color: #232327;
}

.menu-area {
    position: absolute;
    z-index: 101;
    bottom: 0;
    left: 0;
    right: 0;
    height: $menu-area-height;
    &__main, &__side {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
    }
    &__main {
        width: 100%;
    }
    &__side {
        width: 25%;
        &--left {left: 0}
        &--right {right: 0}
    }

}
