


.btn {
    position: relative;
    border-radius: $btn-size / 2;
    width: $btn-size;
    height: $btn-size;
    text-align: center;

    $bg: transparentize($btn-base-color, 0.35);
    $border: lighten($bg, 10);
    $shadow: darken($bg, 80);
    $icon: $shadow;
    $shadow-height: $btn-size/12;

    background-color: $bg;
    border: 2px solid $border;
    box-shadow: 0 $shadow-height 0 $shadow;

    transition: transform 0.5s, box-shadow 0.5s;

    transform: translateY(0);
    &:active {
        transform: translateY($shadow-height);
        box-shadow: 0 0 0 $shadow;
    }

    &--center {
        margin: auto;
    }

    &--photo {
        width: 2*$btn-size;
    }

    &--icon {
        .glyphicon {
            color: $icon;
            font-size: 3*$btn-size/4;

            position: absolute;

            left: 50%;
            top: 50%;

            margin-left: -(3*$btn-size/4)/2;
            margin-top: -(3*$btn-size/4)/2;

        }
    }


}
