
$w_num: 74;
$w_min_dist: 8%;


@keyframes rainbow-colors {
    @for $i from 0 to 100 {
        #{$i}% {
            $col: hsl($i/100.0*360deg, 100%, 50%);
            color: $col;
            text-shadow: $col 0 0 10px, $col 0 0 5px;
        }
    }

}


.loading-area {
    display: none;

    position: fixed;
    top:0;right:0;bottom:0;left:0;
    z-index: 200; // above photo area, below menu and popup
    & > div { // classes (.p-0, .p-1, ...) are changed through js!
        height: 100%;
        width: 100%;
        & > .w {
            animation: rainbow-colors 3s linear infinite;
            opacity: 0;
            transition: opacity 0.8s ease-in;
            position: absolute;

            transform: translate(-50%, -50%);

            font-family: "Verdana";
            font-size: 3.5vw;
            font-weight: bold;

            color: #fff;
            text-shadow: #fff 0 0 10px, #fff 0 0 5px;

            @for $w from 1 to $w_num+1 {
                &:nth-child(#{$w}) {
                    top: $w_min_dist + random(100 - 2*$w_min_dist);
                    left: $w_min_dist + random(100 - 2*$w_min_dist);
                }
            }
        }

        @for $p from 0 to 100 {
            $cur_p_in_w_units: $w_num * $p / 100;
            &.p-#{$p} {
                @for $w from 1 to $w_num+1 {
                    & > .w:nth-child(#{$w}) {
                        @if $w >= $cur_p_in_w_units and $w - 1 < $cur_p_in_w_units {
                            opacity: 1;
                        }
                    }
                }
            }
        }


    }
}

.has-taken-photo .loading-area {
    display: block;
}

@keyframes spin {
    100% { transform:rotate(360deg); }
}
.photo-icon-load {
    animation: spin 4s linear infinite;
}
